<div class="index_padding">
  <h2 class="article_header h1"><%= link_to "#{article.title}", article, class: "article_link" %></h2>
  <p><%= article.summary %></p>
  <div class = "article_footer">
  <%= link_to "Read More", article, class: "btn btn-lg btn-success", title: article.title  %>
  </div> 
</div>