<div class="index_padding">
  <h1 class="article_header"><%= link_to "#{article.title}", article, class: "article_link" %></h1>
  <p><%= article.summary %></p>
  <div class = "article_footer">
  <%= link_to "Read More", article, class: "btn btn-default article-button", title: article.title  %>
  </div> 
</div>