<div class="post-preview">
  <%= link_to article do %>
    <h2 class="post-title">
      <%= article.title %>
    </h2>
    <h3 class="post-subtitle">
      <%= article.summary %>
    </h3>
  <% end %>
  <p class="post-meta">Posted by <a href="#">Robert Huberdeau</a> <%= article.created_at.strftime("%b %e, %Y")%></p>
</div>
<hr>
