<h1><%= link_to "#{article.title}", article %></h1>
<p><%= coderay(article.body).truncate(500).html_safe %></p>
<div>
  <span class="badge">Posted <%= article.created_at.strftime("%B %d, %Y") %></span>
  <% article.tags.each do |tag|%>
	  <span class="label"><%= tag.name %></span>
	<% end %>
</div> 