<% provide(:title, 'Ruby on Rails and Quality Assurance articles') %>

<section id="articles">
  <div id="home_index" class = "container"> 
    <%= render @articles %>
  </div>    
</section>

<%= will_paginate @articles %>