= render partial: "shared/header", locals: {url: asset_path('clean_blog/home-bg.jpg'),
                                               title: 'Blog posts',
                                               sub_heading: 'and other ramblings'}
.container
  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      = render @articles
      ul.pager
        - if @newer_page
          li.previous = link_to "← Newer posts", articles_path(page: @newer_page)
        - if @older_page
          li.next = link_to "Older posts →", articles_path(page: @older_page)
br
