= render partial: "shared/header", locals: {url: asset_path('clean_blog/home-bg.jpg'),
                                               title: 'Blog posts',
                                               sub_heading: 'and other ramblings'}
.container
  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      = render @articles
      ul.pager
        = will_paginate @articles, :page_links => false
br
