<% provide(:title, 'Ruby on Rails and Quality Assurance articles') %>

<section id="articles">
  <div id="home_index" class = "container"> 
    <%= render @articles %>
  </div>    
</section>

<div id="pagination" class="container" >
  <%= will_paginate @articles, renderer: BootstrapPagination::Rails %>
</footer>