- content_for :title, @article.title
- content_for :description, @article.summary
- content_for :og_type, "article"
= render partial: "shared/header", locals: {url: asset_path('clean_blog/post-bg.jpg'),
                                            title: @article.title,
                                            sub_heading: @article.summary}

article
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        = markdown(@article.body)
        - if @article.tags.any?
          p.post-meta
            ' Tagged
            = safe_join(@article.tags.map { |tag| link_to(tag.name, tag) }, ", ")
