<%= render partial: "shared/header", locals: {url: '/assets/clean_blog/post-bg.jpg',
                                              title: @article.title,
                                              sub_heading: @article.summary} %>
<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <%= coderay(@article.body).html_safe %>
            </div>
        </div>
    </div>
</article>

<br>

<div id="disqus_thread" class="col-md-8 col-md-offset-2"></div>
<script>
  var disqus_config = function () {
      this.page.url = 'http://www.rhuberdeau.com<%= request.path %>';  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = '<%= @article.title %>'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };
  (function() {  // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');

      s.src = '//rhuberdeau.disqus.com/embed.js';

      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
