= render partial: "shared/header", locals: {url: asset_path('clean_blog/post-bg.jpg'),
                                            title: @article.title,
                                            sub_heading: @article.summary}

article
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        = markdown(@article.body)
        - if @article.tags.any?
          p.post-meta
            ' Tagged
            = safe_join(@article.tags.map { |tag| link_to(tag.name, tag) }, ", ")
br

#disqus_thread.col-md-8.col-md-offset-2
javascript:
  var disqus_config = function () {
    this.page.url = #{raw json_escape(request.original_url.to_json)};
    this.page.identifier = #{raw json_escape(@article.title.to_json)};
  };
  (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://rhuberdeau.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
noscript
  | Please enable JavaScript to view the
  a[href="https://disqus.com/?ref_noscript" rel="nofollow"]
    | comments powered by Disqus.
