#admin_index.container
  .pull-right
    = button_to 'Sign out', session_path, method: :delete, class: "btn btn-default"
  h2 Unpublished Articles
  table.table.table-bordered
    tr
      th Title
      th Summary
      th
    - @articles.each do |article|
      tr
        td.col-xs-3 = article.title
        td.col-xs-5 = article.summary
        td.col-xs-4
          = link_to 'Show', article_path(article), class: "btn btn-success"
          '
          = link_to 'Edit', edit_article_path(article), class: "btn btn-info"
          '
          = button_to "Publish", articles_publish_path(article), method: :put, class: "btn btn-info", form_class: "inline-form"
  = link_to 'Create new article', new_article_path, class: "btn btn-success"
  h2 Published Articles
  table.table.table-bordered
    tr
      th Title
      th.admin_summary Summary
      th
    - @published_articles.each do |article|
      tr
        td.col-xs-3 = article.title
        td.col-xs-5 = article.summary
        td.col-xs-4
          = link_to 'Show', article_path(article), class: "btn btn-success"
          '
          = link_to 'Edit', edit_article_path(article), class: "btn btn-info"
