a { text-decoration:none }
#head_nav{
  background:none repeat scroll 0 0 #1e1b1a;
  border-bottom:5px solid #383332;
  padding:0;
 /* text-align: right; */
}

/* Top Nav */
#logo{
  margin:0 auto;
  padding-top: 20px;
  color: #fff;
  width:980px;
}
#logo h2 {
  color: #fff;
  margin-bottom: 0px;
}
#logo p{
  padding:15px 0 0 10px;
  max-width:590px;
}
#navigation {
  margin: auto;
  width: 970px;
  height: 43px;
}
ul#topnav {
	background: #111;
	margin: 0; padding: 0;
	float: left;
	width: 970px;
	list-style: none;
	position: relative; /*--Set relative positioning on the unordered list itself - not on the list item--*/
	font-size: 1.2em;
	color: #fff;
}
ul#topnav li {
	float: left;
	margin: 0; padding: 0;
	
}
ul#topnav li a {
	padding: 10px 15px;
	display: block;
	color: #fff;
	text-decoration: none;
}
ul#topnav li:hover { background: #AAA  }

ul#topnav li span {
	float: left;
	padding: 15px 0;
	position: absolute;
	left: 0; top:35px;
	display: none; /*--Hide by default--*/
	width: 970px;
	background: #1376c9;
	color: #000;
	/*--Bottom right rounded corner--*/
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	/*--Bottom left rounded corner--*/
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}
ul#topnav li:hover span { display: block; } /*--Show subnav on hover--*/
ul#topnav li span a { display: inline; } /*--Since we declared a link style on the parent list link, we will correct it back to its original state--*/
ul#topnav li span a:hover {text-decoration: underline;}
.user_session {
  float: right;
}



/* Content */
#content h1{
  font-size:3em;
  line-height:1;
  padding-left:.5em;
  margin-bottom: 0;	
}
/* Article Index Page */
.article_index {
  padding:0 1.5em 0 1.5em;
  margin-bottom:1.5em;
}
.article_body{
  margin-bottom:1.5em;
}
.article_index h2 {
  font-size:2em;
  margin-bottom: 0;
 
}
.article_index_header {
  margin-bottom: 15px;  
}

/* Article Show Page */
#article-content{
  padding:0 1.5em 0 1.5em;
}
#article-content h1{
  font-size:3em;
line-height:1;
margin-bottom:0;
padding-left: 0;
}
/* comment styling */

#comments {
  margin-bottom: 25px;
  border-top: 1px solid #666;
  border-left: 1px solid #666;
  border-right: 1px solid #666;
  background: #F1F1F1;
}

.comment {
  padding: 9px;
  border-bottom: 1px solid #666; 
}

#comment_author {
  font-weight:bold;
  padding:9px 0 0 45px;	
}

#comment_created_at {
  padding:0 0 9px 45px;
  color:#666;
  font-size:11px;
}

#comment_text {
	padding: 0 0 0 45px;
}
/* Sidebar Styles */
#sidebar li {
  list-style-type:none;
}
#tag_title{
  padding:1.5em;
}
/* notices and error messages */
#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}