<div id="tag_title">  
  <h3>Tags</h3>
</div>
<div id= "tags" class = "span-4 last">
<% cache('all_tags') do %>	 
  <% for tag in Tag.find(:all, :order => 'name') %>
    <li><%= link_to "#{tag.name}", tag_path(tag) %></li>
  <% end %>
</div>
<% end %>
<script type="text/javascript"><!--
  google_ad_client = "ca-pub-1647362036478941";
  /* Sidebar */
  google_ad_slot = "0512895380";
  google_ad_width = 300;
  google_ad_height = 250;
  //-->
</script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

 
