<div class ="box">
  <h3>Tags</h3>
</div>
<% cache('all_tags') do %>	 
  <% for tag in Tag.find(:all, :order => 'name') %>
    <li><%= link_to "#{tag.name}", :controller => :tags, :action => :show, :id => tag.id %></li>
  <% end %>
<% end %>
