<div id = <%= tutorial.permalink %> class="index_tutorial_name">
  <h2><%= link_to "#{tutorial.name}", tutorial %></h2>
  
  <div class="index_tutorial_summary">
    <%= tutorial.summary %>
  </div>
</div>