.container
  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      p
        | Want to get in touch with me? Fill out the form below to send me a message and I will try to get back to you within 24 hours!
      = form_for(@contact) do |f|
        = render 'shared/error_messages', object: f.object
        .row.control-group
          .form-group.col-xs-12.floating-label-form-group.controls[data-controller="floating-label" data-action="input->floating-label#update focusin->floating-label#focus focusout->floating-label#blur"]
            = f.label :name
            = f.text_field :name, class: "form-control", placeholder: "Name"
            p.help-block.text-danger
        .row.control-group
          .form-group.col-xs-12.floating-label-form-group.controls[data-controller="floating-label" data-action="input->floating-label#update focusin->floating-label#focus focusout->floating-label#blur"]
            = f.label :email_address
            = f.text_field :email_address, class: "form-control", placeholder: "Email Address"
            p.help-block.text-danger
        .row.control-group
          .form-group.col-xs-12.floating-label-form-group.controls[data-controller="floating-label" data-action="input->floating-label#update focusin->floating-label#focus focusout->floating-label#blur"]
            = f.label :phone_number
            = f.text_field :phone_number, class: "form-control", placeholder: "Phone Number (optional)"
            p.help-block.text-danger
        .row.control-group
          .form-group.col-xs-12.floating-label-form-group.controls[data-controller="floating-label" data-action="input->floating-label#update focusin->floating-label#focus focusout->floating-label#blur"]
            = f.label :message
            = f.text_area :message, class: "form-control", placeholder: "Message", rows: "5"
            p.help-block.text-danger
        br
        .row
          .form-group.col-xs-12
            = f.submit 'Send', class: 'btn btn-default'
br
