= render partial: "shared/header", locals: {url: '/assets/clean_blog/contact-bg.jpg',
                                               title: 'Contact Me',
                                               sub_heading: 'Have questions? I have answers (maybe).'}
= render 'form'
