<% if can? :edit, @step %>
  <%= link_to 'Edit Step', edit_tutorial_step_path(@tutorial, step ) %>
<% end %>
<div class="slide">
  <h2>Step <%= step.position %></h2>
  <p>
    <%= raw coderay(step.body) %>
  </p>
</div>