.CodeRay {
  background-color: #151515;
  border: 1px solid black;
  font-family: 'Courier New', 'Terminal', monospace;
  padding: 3px 5px;
  overflow: auto;
  font-size: 12px;
  margin: 12px 0;
}
.CodeRay pre {
  margin: 0px;
  padding: 0px;
  background-color: #151515;
  color: #fff;
}

.CodeRay .an { color:#E7BE69 }                      /* html attribute */
.CodeRay .c  { color:#BC9358; font-style: italic; } /* comment */
.CodeRay .ch { color:#509E4F }                      /* escaped character */
.CodeRay .class { color:#FFF }                      /* class */
.CodeRay .constant{ color:#FFF }                    /* constant */
.CodeRay .float { color:#A4C260 }                   /* float */
.CodeRay .function { color:#FFC56D }                /* function */
.CodeRay .global { color:#D0CFFE }                  /* global variable */
.CodeRay .i  { color:#A4C260 }                      /* integer */
.CodeRay .il { background:#151515 }                 /* inline code */
.CodeRay .instance-variable { color:#D0CFFE }       /* instance variable */
.CodeRay .pp { color:#E7BE69 }                      /* doctype */
.CodeRay .keyword  { color:#CB7832 }                /* keyword */
.CodeRay .regex { color:#A4C260 }                   /* regex */
.CodeRay .content  { color:#A4C260 }                /* string */
.CodeRay .symbol { color:#6C9CBD }                  /* symbol */
.CodeRay .html-tag { color:#E7BE69 }                /* html tag */
.CodeRay .boolean { color:#6C9CBD }                 /* boolean */